

<div ng-controller="login">
	<nav class="navbar navbar-default">
	<ul class='nav'>

  <li>
    <div class="dropdown">
  
    
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-menu-hamburger"></button>  
      </a>
      
      <img style="vertical-align: middle;" src="../img/af-logo-white-trans3.png" alt="AmazonFresh Home">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

        <li>
          <a class="navbar-brand headerlink adminmenu" href="/"> <small>Log in</small></a>
          <a class="navbar-brand headerlink adminmenu" href="#" ng-click = "adminLogin();"><small>Login as admin </small></a>
         <a class="navbar-brand headerlink adminmenu" href="#" ng-click = "signupCustomer()"><small>Signup as customer </small></a>
         <a class="navbar-brand headerlink adminmenu" href="#" ng-click = "signupFarmer();"><small>Signup as farmer </small></a>
        </li>
      
      </ul>
    </div>   
    </li>

</ul>
	  
</div>