<div class="container-fluid"  ng-controller="customer">
<div class="rows">
	<br/>
	<div ng-hide="payment_error_message">
   		<div class="alert alert-danger" ng-model="payment_status_message">
   		</div>
   </div>
	<div class="rows payment_stripsbackground">
	<div class="col-md-12 center">
		<div class="confirmation_title">
		<h3>Congratulations!!</h3>
		</div>
		<div class="confirmation">
			<h4><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Your order has been placed successfully. Thank you for shopping.</h4>
		</div> 
	</div>
</div>
</div>
</div>