<div class="col-xs-12 col-md-12" ng-init="loadCart()">
	<div class="panel panel-info">
	<div class="panel-heading"><b>Shopping cart</b></div>
	<div class="panel-body ng-binding" ng-hide="dataDiv">
	   	<div class="rows">
	    <div class="col-md-6 pull-left">
	    </div>
	    <div class="col-md-3 pull-left">
	    	Price
	    </div>
	    <div class="col-md-3 pull-left">
	    	Quantity
	    </div>
	 </div>
	<div class="rows"> 
	<div ng-repeat="item in cart1">
		<div class="rows">
		    <div class="col-md-6 pull-left">
		    	<span class="pull-left" ng-click="deleteFromCart(item.product_id)"><span class="glyphicon glyphicon-remove"></span></span>
		    	<span class="pull-left cart-item" ng-click="viewProduct(item.product_id)">{{item.product_name}}</span>
		    </div>
		    <div class="col-md-3 pull-left price">
		    	${{item.product_price}}
		    </div>
		    <div class="col-md-3 pull-left">
		    <select class="a-native-dropdown" ng-change="updateQty(item.product_id,qtyArray[item.product_id])" ng-options="q.qtyVal for q in qtyArray1 track by q.qtyVal" ng-model="qtyArray[item.product_id]"></select>
		    </div>
	    </div>
	 </div>
	 <hr/>
	 <div class="rows">
		    <div class="col-md-6 pull-left">
		    	<span class="pull-left"><b>Cart Subtotal</b></span>
		    </div>
		    <div class="col-md-3 pull-left price">
		    	${{total}}
		    </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12 center checkout-div" ng-hide="place_order_page">
			<input type="button" class="ff-btn checkout-btn" ng-click="checkout()" value="Checkout"/>
		</div>
		<div class="col-md-12 center checkout-div" ng-hide="customer_page">
			<input type="button" class="ff-btn checkout-btn" ng-click="checkout()" value="Checkout"/>
		</div>
	</div>
 </div>
 <div class="panel-body ng-binding" ng-hide="noDataDiv">
		Your cart is empty
 </div>
</div>
</div>
